{% extends "base.html" %}
{% block content %}

<!-- change_contact_info_page -->

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="title_1 delimited">
        {%trans%}New form message{%endtrans%}
      </div>

      <p style="font-size: 1.15em">
      {%trans%}Display this line of text when a new form is created.{%endtrans%}
      </p>

      <form method="POST">
        {{ wtform.csrf_token }}
        <p>
          {{ wtform.language.label }}<br />
          {{ wtform.language(class_="form-control") }}
          {% for error in wtform.language.errors %}
              <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ wtform.msg.label }}<br />
          <span class="hint">{{_("May include HTML links")}}</span>
          {{ wtform.msg(class_="form-control", rows="7") }}
          {% for error in wtform.msg.errors %}
              <span class="formError">{{ error }}</span>
          {% endfor %}
          <div id="preview" style="display:none">
            <label>{%trans%}Preview{%endtrans%}</label><br />
            <span id="msg_preview" />
          </div>
        </p>
        <div class="form-actions">
          <input class="btn-success btn"
                 type="submit"
                 value="{%trans%}Save{%endtrans%}">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const messages = {{ messages | tojson}}
const previews = {{ previews | tojson}}
function setMessage(lang_code) {
  var msg = messages[lang_code] !== undefined ? messages[lang_code] : ""
  $('#msg').val(msg)
  var msg_preview = previews[lang_code] !== undefined ? previews[lang_code] : ""
  if (msg_preview !== "") {
    $('#preview').show()
  }
  $('#msg_preview').html(msg_preview)
}
$(function() {
  var language = $('#language').val()
  setMessage(language)
});
jQuery("#language").change(function(){
    var language = $('#language').val()
    setMessage(language)
});
</script>
{% endblock %}
