{% extends "base.html" %}
{% block content %}

<!-- change_contact_info_page -->

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="title_1 delimited">
        {%trans%}Contact information{%endtrans%}
      </div>

      <p style="font-size: 1.15em">
      {%trans%}Tell your users how to get in touch with you.{%endtrans%}
      </p>

      <form method="POST">
        {{ wtform.csrf_token }}
        <p>
          {{ wtform.contact_info(class_="form-control", rows="7") }}
          {% for error in wtform.contact_info.errors %}
              <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <div class="form-actions">
          <input class="btn-success btn"
                 type="submit"
                 value="{%trans%}Save{%endtrans%}">
          <a class="btn btn-primary"
             role="button"
             href="/admin#contact_info">
            {%trans%}Cancel{%endtrans%}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
