{% extends "base.html" %}
{% block content %}

<!-- edit_mimetypes_page -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-5">
      <div class="title_1 delimited">
        {%trans%}Form attachments{%endtrans%}
      </div>
      <div class="title_text_subtext">
      {%trans%}These file types can be uploaded with the forms{%endtrans%}
      </div>

      <form method="POST">
        {{ wtform.csrf_token }}
        {{ wtform.extensions.label }} <span class='required'>●</span><br />
        {{trans}}A list of file extensions. One per line.{{endtrans}}
        {{ wtform.extensions(class_="form-control", rows="7") }}
        {% for error in wtform.extensions.errors %}
            <span class="formError">{{ error }}</span>
        {% endfor %}

        <div class="form-actions">
          <input class="btn-success btn"
                 type="submit"
                 value="{%trans%}Save{%endtrans%}">
          <a class="btn
                    btn-primary"
             role="button"
             href="/admin#site_settings">
             {%trans%}Cancel{%endtrans%}
          </a>
        </div>
      </form>

      <p>&nbsp</p>

      <div class="title_2">
        {%trans%}Enabled mimetypes{%endtrans%}
      </div>

      <table class="table table-sm">
        <tbody>
        {% for mimetype in g.site.mimetypes.mimetypes %}
          <tr>
            <td>
              {{ mimetype }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
$(function () {
  $('form').parsley().on('form:validate', function() {
    $('span[class=formError]').remove()
  })
})
</script>

{% endblock %}
