{% extends "base.html" %}
{% block content %}

<!-- site_index_page -->

{% if g.is_admin %}
<script src="/static/easymde/easymde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/easymde/easymde.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
{% endif %}

{% if g.is_admin and request.args.get('edit') %}
  {% set show_editor = True %}
{% endif %}

<div class="container">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">

  {% if g.is_admin %}
    <div id="edit_mode"
         style="{% if show_editor != True %}display:none{% endif %}">
      <input id="save-edit"
             class="btn-success btn"
             type="button"
             value="{%trans%}Save{%endtrans%}" />
      <input id="cancel-edit"
             class="btn-primary btn"
             type="button"
             value="{%trans%}Cancel{%endtrans%}" />
      <hr />
      <form id="editor-form" action="/site/save-blurb" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <textarea id="sm-editor" name="editor">{{ site.blurb['markdown'] }}</textarea>
      </form>
    </div>
    <div id="display_mode"
         style="{% if show_editor == True %}display:none{% endif %}">
      <input id="show-editor"
            class="btn-success btn"
            type="button"
            value="{%trans%}Edit text{%endtrans%}" />
      <hr />
      <div id="blurb" class="marked-up">
        {{ site.blurb['html']|safe }}
      </div>
    </div>
  {% else %}
      <div id="blurb" class="marked-up">
        {{ site.blurb['html']|safe }}
      </div>
  {% endif %}
  </div>
</div>
</div>

<script>
$(document).ready(function() {
    $(".marked-up").find("a").prop("target", "_blank")
});
</script>

{% if g.is_admin %}
<script>
$(document).ready(function() {

    var easymde = new EasyMDE({
                                autosave: {enabled: false},
                                autofocus: true,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: $("#sm-editor")[0]
                             });

    $("#show-editor").click(function(){
        $('#display_mode').hide();
        $('#edit_mode').show();
        $('.flash_message').hide();
        easymde.value($("#sm-editor").val())
        window.scrollTo(0,0);
    });
    $("#save-edit").click(function(){
        $('#edit_mode').hide();
        easymde.toTextArea();
        $("#editor-form").submit();
    });
    $("#cancel-edit").click(function(){
        $('#edit_mode').hide();
        $('#display_mode').show();
    });
});
</script>
{% endif %}

{% endblock %}
