{% extends "base.html" %}
{% block content %}

<!-- change_author_page -->

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">

      <div class="returnToForm">
          {# i18n: Button for going back to form #}
          <a class="btn btn-primary btn-sm"
             role="button"
             href="/form/{{form.id}}">
            {%trans%}Return to form{%endtrans%}
          </a>
          {{ form.slug }}
      </div>
      {# i18n: Changing author of the form #}
      <div class="title_1">
        {%trans%}Change author{%endtrans%}
      </div>

      <table class="table table-sm">
      {% if g.is_root_user_enabled %}
          <tr>
             {# i18n: Table row showing form site, instance #}
             <td>{%trans%}Form site{%endtrans%}</td>
             <td>{{ form.hostname }}</td>
          </tr>
      {% endif %}
          <tr>
             <td>{%trans%}Current author{%endtrans%}</td>
             <td>{{ form.get_author().username }}</td>
          </tr>
      </table>

      {%trans%}You are going to change the author of this form.{%endtrans%}
      <br />
      {%trans%}Are you sure?{%endtrans%}
      <p>&nbsp;</p>

      <form action="/admin/form/{{form.id}}/change-author"
            method="POST"
            autocomplete="off">
          <input type="hidden"
                 name="csrf_token"
                 value="{{ csrf_token() }}" />
          {# i18n: Username of current author of form #}
          <input name="old_author_username"
                 class="form-control"
                 type="text"
                 placeholder="{%trans%}Current author's username{%endtrans%}"
                 required />
          <br />
          {# i18n: Username of new author for form #}
          <input name="new_author_username"
                 class="form-control"
                 type="text"
                 placeholder="{%trans%}New author's username{%endtrans%}"
                 required />

          <div class="form-actions">
          <input class="btn-danger btn btn-md"
                 type="submit"
                 value="{%trans%}Change author{%endtrans%}" />
          </div>
      </form>

    {% if editors.count() > 1 %}
      <p>&nbsp;</p>
      {# i18n: Users who can edit a specific form, but is not the original author #}
      <div class="title_2">{%trans%}Editors{%endtrans%}</div>

      <table class="table table-sm">
      {% for editor in editors %}
        <tr>
          <td>{{ editor.user.username }}</td>
          <td>{{ editor.user.email }}</td>
          <td class="text-right">
          {% if form.is_author(editor.user) %}
          {# i18n: Author of the form #}
              {%trans%}Author{%endtrans%}
          {% else %}
          {# i18n: Editor of the form #}
              {%trans%}Editor{%endtrans%}
          {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
