{% extends "base.html" %}
{% block content %}

<!-- chart_answers_page -->

{% set total_answers = form.answers.count() %}

<script src="/static/chartjs/3.6.2/chart.min.js"></script>
<script src="/static/chartjs/3.6.2/chartjs-adapter-date-fns.bundle.min.js"></script>

<div class="container">
  <div class="row" style="font-size:1.5em">
    <div class="col">
      <a class="btn btn-primary btn-sm"
         role="button"
         href="/form/{{form.id}}">
        {%trans%}Form details{%endtrans%}
      </a>
      {{ form.slug }}
    </div>
    <div class="col-auto">
      <a class="btn btn-primary btn-sm"
         role="button"
         href="/form/{{form.id}}/answers">
        {%trans%}View answers{%endtrans%}
        <span class="badge badge-light">{{total_answers}}</span>
      </a>
    </div>
  </div>
  <hr />

  <div class="row mb-2">
    <div class="col-md-12">
      <div class="title_1 mb-3">
        {%trans%}Answers{%endtrans%}
        {% if chart_data['time_span'] %}
          ({{ chart_data['time_span'] }})
        {% endif %}
      </div>
        <canvas id="time_chart" height="100"></canvas>
    </div>
  </div>

  {% set graph_id = namespace(value=0) %}
  {% if chart_data['number_charts'] %}
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="title_1 mb-0">
        {%trans%}Numeric fields{%endtrans%}
      </div>
    </div>
    {% for field in chart_data['number_charts'] %}
    {% set graph_id.value = graph_id.value + 1 %}
    <div class="col-md-4" height="100" style="margin-top:1em">
      <canvas id="{{ graph_id.value }}_chart"></canvas>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% if chart_data['multi_choice_charts'] %}
  <div class="row">
    <div class="col-md-12 mt-2">
      <div class="title_1 mb-0">
        {%trans%}Multiple choice{%endtrans%}
      </div>
    </div>
    {% for field in chart_data['multi_choice_charts'] %}
    {% set graph_id.value = graph_id.value + 1 %}
    <div class="col-md-4" height="100" style="margin-top:1em">
      <canvas id="{{ graph_id.value }}_chart"></canvas>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

<script>
if (['second', 'minute', 'hour', 'day', 'week', 'month', 'year'].indexOf('{{chart_data['time_unit']}}') >= 0) {
  var time_unit = '{{chart_data['time_unit']}}'
} else {
  time_unit = 'day'
}
time_chart_data = {{ chart_data['time_chart'] | tojson }}
{% if total_answers == 1 %}
  var first_date = time_chart_data[0].x.slice(-8)
  time_chart_data[0].x = first_date
{% endif %}
{% set color_codes = ["rgba(233, 132, 0, 0.7)", "rgba(182, 0, 181, 0.7)",
                      "rgba(255, 0, 0, 0.7)", "rgba(0, 123 ,255, 0.7)",
                      "rgba(0, 190, 0, 0.7)"]
%}
var ctx = document.getElementById('time_chart');
var time_chart = new Chart(ctx, {
  type: 'line',
  data: {
    datasets: [
      {
        data: time_chart_data,
        {% set radius = 8 %}
        {% set radius = 7 if (total_answers > 10) else radius %}
        {% set radius = 6 if (total_answers > 30) else radius %}
        {% set radius = 5 if (total_answers > 60) else radius %}
        {% set radius = 3 if (total_answers > 90) else radius %}
        pointRadius: {{ radius }},
        pointHitRadius: 15,
        pointBorderWidth: 0,
        pointHoverRadius: 8,
        borderColor: "rgba(0, 190, 0, 1)",
        backgroundColor: "rgba(0, 190, 0, 1)",
        fill: false,
        borderWidth: 4,
      },
    ],
  },
  options: {
    scales: {
      x: {
        {% if total_answers > 1 %}
        type: 'time',
        time: {
          unit: time_unit,
          displayFormats: {
            second: 'kk:mm:ss',
            minute: 'kk:mm',
            hour: 'kk:mm',
            day: 'yyyy-MM-dd',
            week: 'yyyy-MM-dd',
            month: 'yyyy-MM',
            year: 'yyyy-MM',
          }
        }
        {% endif %}
      },
      y: {
        beginAtZero: false,
        min: 1,
        ticks: { precision: 0 }
      }
    },
    animation: { duration: 0 },
    plugins: {
      legend: {
        display: false,
      }
    }
  },
});

var bar_chart_options ={
  maintainAspectRatio: false,
  responsive: true,
  animation: { duration: 0 },
  scales: {
    y: {
      beginAtZero: true,
      ticks: { precision: 0 },
    }
  },
  plugins: {
    legend: {
      onHover: function (e) {
        e.native.target.style.cursor = 'pointer';
      },
      onLeave: function (e) {
        e.native.target.style.cursor = 'default';
      },
      labels: {
        boxWidth: 20,
        usePointStyle: true,
        pointStyle: "rectRounded",
      }
    }
  }
}

{% set color = namespace(value=0) %}
{% set graph_id = namespace(value=0) %}
{% if chart_data['number_charts'] %}
  {% for chart in chart_data['number_charts'] %}
    {% set graph_id.value = graph_id.value + 1 %}
    {% if color.value+1 > color_codes|length %}
        {% set color.value = 1 %}
    {% else %}
        {% set color.value = color.value + 1 %}
    {% endif %}
    var ctx = document.getElementById("{{ graph_id.value }}_chart");
    ctx.height = 320

    options = JSON.parse(JSON.stringify(bar_chart_options));
    options.scales.x = {
      title: {
        text: "Total: {{chart['tally']}}",
        font: { size: 14 },
        display: true
      }
    }
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{chart['axis_x']|tojson}},
        datasets: [
          {
            label: ["{{chart.title}}"].map(str => shortenString(str,42))[0],
            data: {{ chart['axis_y'] | tojson }},
            backgroundColor: "{{ color_codes[color.value-1] }}",
            fill: true,
            borderWidth: 0,
            barPercentage: 1,
          }
        ]
      },
      options: options,
    });
  {% endfor %}
{% endif %}

{% if chart_data['multi_choice_charts']|length %}
  {% for field in chart_data['multi_choice_charts'] %}
    {% set graph_id.value = graph_id.value + 1 %}
    {% if color.value+1 > color_codes|length %}
      {% set color.value = 1 %}
    {% else %}
      {% set color.value = color.value + 1 %}
    {% endif %}

    var ctx = document.getElementById("{{ graph_id.value }}_chart");
    ctx.height = 320;

    {% set title_max_length = 45 %}
    {% if field['axis_x']|length > 12 %}
      {% set title_max_length = 185 %}
      $(ctx).closest("div[class=col-md-4]").removeClass("col-md-4").addClass("col-md-12")
    {% elif field['axis_x']|length > 6 %}
      {% set title_max_length = 115 %}
      $(ctx).closest("div[class=col-md-4]").removeClass("col-md-4").addClass("col-md-8")
    {% endif %}

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels:  {{field['axis_x']|tojson}}.map(str => shortenString(str, 24)),
        datasets: [
          {
            label: ["{{field.title}}"].map(str => shortenString(str,{{title_max_length}}))[0],
            data: {{ field['axis_y']|tojson }},
            backgroundColor: "{{ color_codes[color.value-1] }}",
            fill: true,
            borderWidth: 0,
            barPercentage: 1,
          }
        ]
      },
      options: bar_chart_options
    });
    {% endfor %}
{% endif %}

function shortenString(str, max_length) {
    if ( str.length > max_length ) {
        str = str.slice(0, max_length -2)
        return str+'..'
    }
    return str
}
</script>

{% endblock %}
