{% extends "base.html" %}
{% block content %}

<!-- list_answers_page -->

<div class="container">
  <div class="row"
       style="font-size:1.5em">
    <div class="col mb-1">
      {% if is_form_editor == True %}
      <a class="btn btn-primary btn-sm"
         role="button"
         href="/form/{{form.id}}">
         {%trans%}Form details{%endtrans%}
      </a>
      {% endif %}
      {{ form.slug }}
    </div>
  </div>

  <div class="row">
    <div class="col">
      <hr />
      <div vue-component="data-display"
           data-endpoint="/data-display/form/{{form.id}}"
           data-language="{{ current_user.language }}"
           data-csrf_token="{{ csrf_token() }}"
           data-enable_exports=true >
      </div>
      <div vue-component="items-renderer"></div>
      <div vue-component="pdf-builder"></div>
    </div>
  </div>
</div>

<script src="/static/data-display/data-display.js"></script>
<script src="/static/data-display/items-renderer.js"></script>
<script src="/static/data-display/pdf-builder.js"></script>

{% endblock %}
