{% extends "base.html" %}
{% block content %}

<!-- new_invite_page -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<style>
#form_grant {
  list-style: none;
  margin: 0; padding: 0;
  font-size: 0.8em;
  margin-bottom: 1em;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="title_1 delimited">
        {# i18n: Title on /invites/new page #}
        {%trans%}Send a new user invitation{%endtrans%}
      </div>
      {% if granted_form %}
      <div class="mb-3"
           style="font-size: 1.1em">
        <p>
        {%trans%}Form{%endtrans%}:
        <span class='badge badge-info' style='font-size: 0.9em'>
         {{granted_form.slug}}
        </span>
        </p>
        {%trans%}Grant read-only access to the collected answers{%endtrans%}
      </div>

      {% endif %}
      <form method="POST" autocomplete="off">
        {{ wtform.csrf_token }}
        {{ wtform.role(value=default_role) }}
        {{ wtform.granted_form_id() }}
        <p>
          {{ wtform.email.label }} <span class='required'>●</span><br />
          {{ wtform.email(class_="form-control",
                          placeholder="person@example.com") }}
          {% for error in wtform.email.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ wtform.message.label }} <span class='required'>●</span><br />
          {{ wtform.message(class_="form-control", rows="5") }}
          <span class="hint">
          {%trans%}The link to the invitation will be appended to this message{%endtrans%}
          </span>
          {% for error in wtform.message.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>

        {% if g.is_admin and not granted_form %}
        <label>
          {# i18n: lets the admin to choose which role will this newly invited user have #}
          {%trans%}New user role{%endtrans%}
        </label>
        <br />
        <div class="btn-group role-toggle">
          <button class="btn
                        {% if default_role == 'guest' %}
                        btn btn-primary
                        {% else %}
                        btn-outline-secondary
                        {% endif %}"
                  onclick="setRole(this, 'guest'); return false">
            {%trans%}Guest{%endtrans%}
          </button>
          <button class="btn
                        {% if default_role == 'editor' %}
                        btn btn-primary
                        {% else %}
                        btn-outline-secondary
                        {% endif %}"
                  onclick="setRole(this, 'editor'); return false">
              {%trans%}Editor{%endtrans%}
          </button>
          <button class="btn btn-outline-secondary"
                  onclick="setRole(this, 'admin'); return false">
            {%trans%}Admin{%endtrans%}
          </button>
        </div>
        {% for error in wtform.role.errors %}
          <span class="formError">{{ error }}</span>
        {% endfor %}
        {% endif %}

        <div class="form-actions">
          {# i18n: Button to send new user invitation message via email #}
          <input class="btn-success btn"
                 type="submit"
                 value="{%trans%}Send email{%endtrans%}">
          {% if granted_form %}
          <a class="btn btn-primary"
             role="button"
             href="/form/{{granted_form.id}}/share">
             {# i18n: Button to cancel operation #}
              {%trans%}Cancel{%endtrans%}
          </a>
          {% elif total_invites == 0 %}
          <a class="btn btn-primary"
             role="button"
             href="/admin/users">
             {# i18n: Button to cancel operation #}
              {%trans%}Cancel{%endtrans%}
          </a>
          {% else %}
          <a class="btn btn-primary"
             role="button"
             href="/admin/invites">
              {%trans%}Cancel{%endtrans%}
          </a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<script>
function setRole(element, role) {
  $(".role-toggle").find('.btn')
                   .removeClass('btn-primary')
                   .addClass('btn-outline-secondary')
  $(element).removeClass('btn-outline-secondary').addClass('btn-primary')
  $('input[id=role]').val(role)
}
$(function () {
  $('form').parsley().on('form:validate', function() {
    $('span[class=formError]').remove()
  })
})
</script>

{% endblock %}
