

<script src="/static/easymde/easymde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/easymde/easymde.min.css">


<div class="title_1 delimited">
  <a href="{{ return_url }}"
     class="btn btn-small btn-primary">
     {%trans%}Go back{%endtrans%}
  </a>

  <div id="toggle_enabled"
       class="btn-group btn-toggle"
       style="float:right">
    <button id="enabled_true"
            class="btn btn-xs
                  {% if text.enabled %}
                  btn-primary
                  {% else %}
                  btn-outline-secondary
                  {% endif %}
                  ">
        {%trans%}Enabled{%endtrans%}
    </button>
    <button id="enabled_false"
            class="btn btn-xs
                  {% if not text.enabled %}
                  btn-primary
                  {% else %}
                  btn-outline-secondary
                  {% endif %}
                  ">
      {%trans%}Disabled{%endtrans%}
    </button>
  </div>
</div>
<div class="title_1"  style="margin-top: -0.5em;">
{{ title }}
</div>
{% if sub_title %}
<p style="margin-top: -1.2em;">
  {{ sub_title }}
</p>
{% endif %}

<hr />
<div id="text-block">
  <div>
    <button id="edit-button"
            class="btn btn-primary">
      {%trans%}Edit{%endtrans%}
    </button>
  </div>
  <div id="editable-html"
       style="margin-top: 1em">
    <div id="text-html">
      {{ text.html|safe }}
    </div>
    <div class="form-group form-check">
      <input id="dummy-input"
             type="checkbox"
             disabled
             class="form-check-input">
      <label id="checkbox_text-label"
             for="dummy-input"
             class="form-check-label consent">
          {% if text.checkbox_text %}
            {{ text.checkbox_text }}
          {% else %}
            {%trans%}I agree{%endtrans%}
          {% endif %}
          {% if text.required %}
          <span class="required-dot">●</span>
          {% endif %}
      </label>
    </div>
  </div>
</div>

<div id="editor-block" style="display:none">
  <div id="text-editor">
    <div style="margin-bottom: 0.5em">
      <button id="save-button"
              class="btn btn-success">
         {%trans%}Save{%endtrans%}
      </button>
      <button id="cancel-button"
              class="btn btn-primary">
          {%trans%}Cancel{%endtrans%}
      </button>
      {% if default_markdown %}
      <button id="use-default"
              class="btn btn-outline-secondary">
          {%trans%}Use the template{%endtrans%}
      </button>
      {% endif %}
    </div>
    <textarea id="md_editor">{{ text.markdown }}</textarea>

    <div class="form-row">
      <div class="form-group col">
        <input id="checkbox_text"
               class="form-control form-control-sm"
               type="text"
               placeholder="{{_('I agree')}}"
               value="{{text.checkbox_text if text.checkbox_text else ''}}">
      </div>
      {% if force_required %}
      <span class="required-dot">●</span>
      {% endif %}
      <div class="form-check ml-auto"
           {% if force_required %}style="display:none"{% endif %}>
        <div class="form-check mb-2">
          <input id="text_required"
                 class="form-check-input"
                 type="checkbox"
                 value={{text.required|tojson}}
                 {%if text.required%}checked{%endif%}>
          <label class="form-check-label form-control-sm"
                 for="text_required">
                {%trans%}Required{%endtrans%}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<form method="POST">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}" />
  <input name="markdown" type="hidden" />
  <input name="checkbox_text" type="hidden" />
  <input name="required" type="hidden" />
</form>

<script>
var csrftoken = "{{ csrf_token() }}";
var initial_values = {
  "markdown": {{ text.markdown|tojson }},
  "checkbox_text": {{ text.checkbox_text|tojson }}
}
document.getElementById('toggle_enabled')
        .addEventListener('click', function(evt){
  $.ajax({
    url : "{{ toggle_enabled_url }}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.enabled == true) {
        $('#enabled_true').addClass('btn-primary').removeClass('btn-outline-secondary');
        $('#enabled_false').removeClass('btn-primary').addClass('btn-outline-secondary');
      }
      else if (data.enabled == false) {
        $('#enabled_true').removeClass('btn-primary').addClass('btn-outline-secondary');
        $('#enabled_false').addClass('btn-primary').removeClass('btn-outline-secondary');
      }
    }
  });
});

$(document).ready(function() {
  var MDE = new EasyMDE({
                autosave: {enabled: false},
                autofocus: true,
                spellChecker: false,
                autoDownloadFontAwesome: false,
                element: document.getElementById("md_editor")
             });
  $("#edit-button").click(function(){
    $('#text-block').hide()
    $('#editor-block').show(0, function() {
      MDE.codemirror.refresh();
    });
  });
  $("#cancel-button").click(function(){
    $("#md_editor").val(initial_values.markdown)
    $("#checkbox_text").val(initial_values.checkbox_text)
    MDE.value($("#md_editor").val())
    $("#text-block").show()
    $('#editor-block').hide()
  });
  {% if default_markdown %}
  $("#use-default").click(function(){
    $("#md_editor").val({{ default_markdown|tojson }})
    MDE.value($("#md_editor").val())
  });
  {% endif %}
  $("#save-button").click(function(){
    $('form input[name=markdown]').val(MDE.value())
    $('form input[name=checkbox_text]').val($("#checkbox_text").val())
    $('form input[name=required]').val($("#text_required").is(':checked'))
    $('form').submit()
  });
});
</script>
