

<div class="title_1 delimited">
  {%trans%}Details{%endtrans%}
  <div style="float:right">
    {% if is_form_editor %}
    <a class="btn btn-primary btn-sm"
       role="button"
       href="/form/{{form.id}}/answers">
       {%trans%}View answers{%endtrans%}
       <span class="badge badge-light">
         {{total_answers}}
       </span>
    </a>
    <a class="btn btn-primary btn-sm"
       role="button"
       href="/form/{{form.id}}/answers/stats">
       {%trans%}Graphs{%endtrans%}
       <i class="fa fa-bar-chart" aria-hidden="true"></i>
    </a>
    {% else %}
    <button class="btn btn-primary btn-sm" disabled>
        {%trans%}Total answers{%endtrans%}
        <span class="badge badge-light">{{total_answers}}</span>
    </button>
    {% endif %}
  </div>
</div>

<table class="table table-sm sparse-table">
  <tr>
    <td>{%trans%}Name{%endtrans%}</td>
    <td>{{ form.slug }}</td>
  </tr>
  <tr>
    <td>{%trans%}Last answer{%endtrans%}</td>
    <td>
    {% if total_answers %}
      {% if is_form_editor %}
      <a href="/form/{{form.id}}/answers">
        {{ form.get_last_answer_date() }}
      </a>
      {% else %}
      {{ form.get_last_answer_date() }}
      {% endif %}
    {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      {%trans%}Public URL{%endtrans%}
    </td>
    <td>
      {% if form.is_public() %}
      <a id="formLink"
         href="{{ form.url }}">
        {{ form.url }}
      </a>
      <span id="formURL"
            style="display:none">
        {{ form.url }}
      </span>
      {% else %}
      <a id="formLink"
         href="{{ form.url }}"
         style="display:none">
        {{ form.url }}
      </a>
      <span id="formURL">{{ form.url }}</span>
      {% endif %}
    </td>
  </tr>
  <tr>
     <td>
       {%trans%}Public{%endtrans%}
       {% if not form.admin_preferences['public'] %}
       <span class="badge badge-danger">
         {%trans%}Disabled{%endtrans%}
       </span>
       {% endif %}
       {% if form.expired %}
       <span class="badge badge-warning">
         {%trans%}Expired{%endtrans%}
       </span>
       {% endif %}
     </td>
     <td>
      {% if is_form_editor %}
      <div id="toggle_enabled" class="btn-group btn-toggle">
      <button id="enabled_true"
              class="btn btn-xs
                     {% if form.is_public() %}
                     btn-primary
                     {% else %}
                     btn-outline-secondary
                     {% endif %}"
              {% if not form.can_be_published() %}
              disabled
              {% endif %}>
        {%trans%}True{%endtrans%}
      </button>
      <button id="enabled_false"
              class="btn btn-xs
                     {% if not form.is_public() %}
                     btn-primary
                     {% else %}
                     btn-outline-secondary
                     {% endif %}"
              {% if not form.can_be_published() %}
              disabled
              {% endif %}>
        {%trans%}False{%endtrans%}
      </button>
      </div>
      {% else %}
      <button class="btn btn-xs btn-primary"
              disabled>
        {% if form.is_public() %}
          {%trans%}True{%endtrans%}
        {% else %}
          {%trans%}False{%endtrans%}
        {% endif %}
      </button>
      {% endif %}
      {% if form.edit_mode %}
      <span class="badge badge-warning">
        {%trans%}Edit mode{%endtrans%}
      </span>
      {% endif %}
     </td>
  </tr>
  {% if form.edit_mode and is_form_editor %}
  <tr>
    <td id="editing_row">
      {%trans%}Edit mode{%endtrans%}
    </td>
    <td>
      <div class="btn-group">
        <button class="btn btn-xs btn-primary">
          {%trans%}Active{%endtrans%}
        </button>
        <a class="btn btn-xs btn-outline-secondary"
           role="button"
           href="/form/{{form.id}}/kill-edition-mode">
          {%trans%}Cancel{%endtrans%}
        </a>
      </div>
      <span class="badge badge-pill badge-secondary"
            style="font-size: 0.75em">
        {{form.edit_mode['editor_email']}}
      </span>
    </td>
  </tr>
  {% endif %}
  {% if is_form_editor and current_user.fedi_auth %}
  <tr>
    <td>
      {%trans%}Fediverse{%endtrans%}
    </td>
    <td>
      <button id="fediverse-publish"
              class="btn btn-primary btn-xs"
              style="padding:5px 4px 3px 4px"
              onclick="window.location.href='/form/{{form.id}}/fediverse-publish'"
              {% if not form.is_public() %}
              disabled
              {% endif %}>
        {%trans%}Published{%endtrans%}
        <span class="badge badge-light">
          {{ form.published_cnt }}
        </span>
      </button>
    </td>
  </tr>
  {% endif %}
  {% set form_user = FormUser.find(form_id=form.id, user_id=current_user.id) %}
  {% if form_user != None %}
  <tr>
    <td>
      {%trans%}New answer{%endtrans%}
    </td>
    <td>
      <div id="toggle_notification"
           class="btn-group btn-toggle">
        <button id="notification_true"
                class="btn btn-xs
                      {% if form_user['notifications']['newAnswer'] %}
                      btn-primary
                      {% else %}
                      btn-outline-secondary
                      {% endif %}">
          {%trans%}True{%endtrans%}
        </button>
        <button id="notification_false"
                class="btn btn-xs
                      {% if not form_user['notifications']['newAnswer'] %}
                      btn-primary
                      {% else %}
                      btn-outline-secondary
                      {% endif %}">
          {%trans%}False{%endtrans%}
        </button>
      </div>
      <span class="ml-1">
        {%trans%}Notify me by email{%endtrans%}
      </span>
    </td>
  </tr>
  {% endif %}
  <tr>
    <td>{%trans%}Expiration{%endtrans%}</td>
    <td>
    {% if is_form_editor %}
      {% if form.expired %}
      <a class="btn btn-primary btn-xs"
         role="button"
         href="/form/{{form.id}}/expiration">
        {%trans%}Edit{%endtrans%}
      </a>
      {% elif form.can_expire() %}
      <a class="btn btn-primary btn-xs"
         role="button"
         href="/form/{{form.id}}/expiration">
         {%trans%}This form will expire{%endtrans%}
      </a>
      {% else %}
      <a class="btn btn-primary btn-xs"
         role="button"
         href="/form/{{form.id}}/expiration">
         {%trans%}False{%endtrans%}
      </a>
      {% endif %}
    {% else %}
      <button class="btn btn-xs
                    {% if form.expired %}
                    btn-warning
                    {% else %}
                    btn-primary
                    {% endif %}"
              disabled>
        {% if form.expired %}
          {%trans%}This form has expired{%endtrans%}
        {% elif form.can_expire() %}
          {%trans%}This form will expire{%endtrans%}
        {% else %}
          {%trans%}False{%endtrans%}
        {% endif %}
      </button>
    {% endif %}
    </td>
  </tr>
  {% set disk_usage = form.get_disk_usage() %}
  {% if form.has_file_field() or disk_usage > 0 %}
  <tr>
    <td>{%trans%}Disk usage{%endtrans%}</td>
    <td>
      {{ human_readable_bytes(disk_usage) }}
    </td>
  </tr>
  {% endif %}
  <tr>
     <td>{%trans%}Editors{%endtrans%}</td>
     <td>
      {% set editors=FormUser.find_all(form_id=form.id, is_editor=True) %}
      {% set number='<span class="badge badge-light">%s</span>' |
         format(editors.count() -1) %}
      {% if is_form_editor %}
        {% if editors.count() > 1 %}
        <a class="btn btn-primary btn-xs"
           role="button"
           href="/form/{{form.id}}/share"
           style="padding:5px 4px 3px 4px">
           {%trans number=number|safe%}Form shared with {{number}}{%endtrans%}
        </a>
        {% else %}
        <a class="btn btn-primary btn-xs"
           role="button"
           href="/form/{{form.id}}/share">
           {%trans%}Add editors{%endtrans%}
        </a>
        {% endif %}
      {% else %}
      <button class="btn btn-primary btn-xs"
              disabled
              style="padding:5px 4px 3px 4px">
         {%trans number=number|safe%}Form shared with {{number}}{%endtrans%}
      </button>
      {% endif %}
     </td>
  </tr>
  <tr>
    <td>{%trans%}Shared answers{%endtrans%}</td>
    <td>
    {% set readers=FormUser.find_all(form_id=form.id, is_editor=False) %}
    {% set number='<span class="badge badge-light">%s</span>' | format(readers.count()) %}
    {% if is_form_editor %}
      {% if readers.count() > 0 %}
      <a class="btn btn-primary btn-xs"
         role="button"
         href="/form/{{form.id}}/share"
         style="padding:5px 4px 3px 4px">
         {%trans number=number|safe%}Answers shared with {{number}}{%endtrans%}
      </a>
      {% else %}
      <a class="btn btn-primary btn-xs"
         role="button"
         href="/form/{{form.id}}/share">
         {%trans%}Share{%endtrans%}
      </a>
      {% endif %}
    {% else %}
      <button class="btn btn-primary btn-xs"
              disabled
              style="padding:5px 4px 3px 4px">
        {%trans number=number|safe%}Answers shared with {{number}}{%endtrans%}
      </button>
    {% endif %}
    </td>
  </tr>
  {% if invites.count() %}
  <tr>
    <td>{%trans%}Invitations{%endtrans%}</td>
    <td>
    {% set number='<span class="badge badge-light">%s</span>' |
                  format(invites.count()) %}
      {% if is_form_editor %}
      <a class="btn btn-primary btn-xs"
         role="button"
         href="/form/{{form.id}}/share#invites"
         style="padding:5px 4px 3px 4px">
         {# i18n: counts pending sharing invitations: "Pending 3 [invitations]" #}
         {%trans number=number|safe%}Pending {{number}}{%endtrans%}
      </a>
      {% else %}
      <button class="btn btn-primary btn-xs"
              disabled
              style="padding:5px 4px 3px 4px">
        {%trans number=number|safe%}Pending {{number}}{%endtrans%}
      </button>
      {% endif %}
    </td>
  </tr>
  {% endif %}
  <tr>
    <td>{%trans%}Restricted access{%endtrans%}</td>
    <td>
    {% if is_form_editor %}
     {% if form.restricted_access %}
     <a class="btn btn-primary btn-xs"
        role="button"
        href="/form/{{form.id}}/share#restricted_access">
        {%trans%}True{%endtrans%}
      </a>
      {% else %}
      <a class="btn btn-primary btn-xs"
        role="button"
        href="/form/{{form.id}}/share#restricted_access">
        {%trans%}False{%endtrans%}
      </a>
      {% endif %}
    {% else %}
    <button class="btn btn-xs btn-primary"
            disabled>
        {% if form.restricted_access %}
         {%trans%}True{%endtrans%}
        {% else %}
         {%trans%}False{%endtrans%}
        {% endif %}
    </button>
    {% endif %}
    </td>
  </tr>
{% if form.has_email_field() %}
  <tr>
        {# i18n: Option in Form inspecting view to enable a checkbox at the end of the form, that confirm user via email that their answers have been sent #}
    <td>{%trans%}Confirmation{%endtrans%}</td>
    <td>
    {% if is_form_editor %}
      <div id="toggle_send_confirmation"
            class="btn-group btn-toggle">
        <button id="send_confirmation_true"
                class="btn btn-xs
                       {% if form.send_confirmation %}
                       btn-primary
                       {% else %}
                       btn-outline-secondary
                       {% endif %}">
            {%trans%}Enabled{%endtrans%}
        </button>
        <button id="send_confirmation_false"
                class="btn btn-xs
                       {% if not form.send_confirmation %}
                       btn-primary
                       {% else %}
                       btn-outline-secondary
                       {% endif %}">
            {%trans%}Disabled{%endtrans%}
        </button>
      </div>
    {% else %}
      <button class="btn btn-xs btn-primary"
              disabled>
          {% if form.send_confirmation %}
           {%trans%}Enabled{%endtrans%}
          {% else %}
           {%trans%}Disabled{%endtrans%}
          {% endif %}
      </button>
    {% endif %}
    </td>
  </tr>
{% endif %}

  <tr>
    {% set consent=form.get_consent_for_rendering() %}
    <td>
      {%trans%}GDPR{%endtrans%}
      {% if consent.enabled %}
      <span class="badge badge-success">{%trans%}Enabled{%endtrans%}</span>
      {% else %}
      <span class="badge badge-secondary">{%trans%}Disabled{%endtrans%}</span>
      {% endif %}
    </td>
    <td>
      {% if is_form_editor %}
      <a class="btn btn-primary btn-xs mb-1 mb-md-0 text-right"
         role="button"
         href="{{url_for('form_bp.edit_data_consent', form_id=form.id)}}">
        {%trans%}Edit{%endtrans%}
      </a>
      {% endif %}
    </td>
  </tr>
  <tr>
    <td>
      {%trans%}Author{%endtrans%}
      {% if not author.enabled %}
      <span class="badge badge-danger">
        {%trans%}Disabled{%endtrans%}
      </span>
      {% endif %}
    </td>
    <td>
    {% if g.is_admin %}
    <a href="{{url_for('admin_bp.inspect_user', user_id=author.id)}}">{{ author.username }}</a>
    {% else %}
    {{ author.username }}
    {% endif %}
    </td>
  </tr>
  <tr>
    <td>{%trans%}Created{%endtrans%}</td>
    <td>{{ form.get_created_date() }}</td>
  </tr>
  {% if g.is_root_user_enabled %}
  <tr>
    <td>{%trans%}Hostname{%endtrans%}</td>
    <td>{{ form.hostname }}</td>
  </tr>
  {% endif %}
</table>


{% if is_form_editor %}
<script>
{% if form.can_be_published() %}
document.getElementById('toggle_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "{{ url_for('form_bp.toggle_form_enabled', form_id=form.id) }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#enabled_true').addClass('btn-primary')
                                  .removeClass('btn-outline-secondary');
                $('#enabled_false').removeClass('btn-primary')
                                   .addClass('btn-outline-secondary');
                $('#formURL').hide();
                $('#formLink').show();
                $('#fediverse-publish').prop('disabled', false);
            }
            else if (data.enabled == false) {
                $('#enabled_true').removeClass('btn-primary')
                                  .addClass('btn-outline-secondary');
                $('#enabled_false').addClass('btn-primary')
                                   .removeClass('btn-outline-secondary');
                $('#formURL').show();
                $('#formLink').hide();
                $('#fediverse-publish').prop('disabled', true);
            }
        }
    });
});
{% endif %}
{% if form.has_email_field() %}
document.getElementById('toggle_send_confirmation').addEventListener('click', function(evt){
    $.ajax({
        url : "{{ url_for('form_bp.toggle_form_send_confirmation', form_id=form.id) }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.confirmation == true) {
                $('#send_confirmation_true').addClass('btn-primary')
                                           .removeClass('btn-outline-secondary');
                $('#send_confirmation_false').removeClass('btn-primary')
                                            .addClass('btn-outline-secondary');
                $('#send_confirmation').show();
            }
            else if (data.confirmation == false) {
                $('#send_confirmation_true').removeClass('btn-primary')
                                           .addClass('btn-outline-secondary');
                $('#send_confirmation_false').addClass('btn-primary')
                                            .removeClass('btn-outline-secondary');
                $('#send_confirmation').hide();
            }
        }
    });
});
{% endif %}
// notify me on new answer
document.getElementById('toggle_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "{{url_for('form_bp.toggle_form_notification', form_id=form.id)}}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notification == true) {
                $('#notification_true').addClass('btn-primary')
                                       .removeClass('btn-outline-secondary');
                $('#notification_false').removeClass('btn-primary')
                                        .addClass('btn-outline-secondary');
            }
            else if (data.notification == false) {
                $('#notification_true').removeClass('btn-primary')
                                       .addClass('btn-outline-secondary');
                $('#notification_false').addClass('btn-primary')
                                        .removeClass('btn-outline-secondary');
            }
        }
    });
});
</script>
{% endif %}
