{% extends "base.html" %}
{% block content %}

<!-- delete_form_page -->

<div class="container">
<div class="row">
<div class="col-md-3"></div>

    <div class="col-md-5">

        <div class="returnToForm">
            <a class="btn btn-primary btn-sm"
               role="button"
               href="/form/{{form.id}}">
              {%trans%}Return to form{%endtrans%}
            </a>
            {{ form.slug }}
        </div>

        <div class="title_1">
            {%trans%}Delete form{%endtrans%}
        </div>

        {%trans%}You are going to delete this form and{%endtrans%}
        <span class="highlightedText">{{form.get_answers().count()}}
          {%trans%}answers{%endtrans%}
        </span>
        <br />
        {%trans%}Write the name of the form below{%endtrans%}.
        <p></p>

        <div class="title_3">{{form.slug}}</div>

        <form method="POST" autocomplete="off">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <input type="text" name="slug" class="form-control" required >

            <div class="form-actions">
            <input class="btn btn-danger" type="submit" value="{%trans%}Delete{%endtrans%}">
            </div>
        </form>
    </div>

</div>
</div>

{% endblock %}
