{% extends "base.html" %}
{% block content %}

<!-- edit_form_page -->

<script src="/static/formBuilder/form-builder.min.js"></script>
<script src="/static/easymde/easymde.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/easymde/easymde.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/formbuilder-mods.css">

{% if edit_mode_alert %}
{% include '_edit-mode-alert-modal.html' %}
{% endif %}
{% include '_link-modal.html' %}
{% include '_image-modal.html' %}

<style>
#fb-editor .sortable-options-wrap .option-value {
  display: none;
  /*
  width: 40%;
  pointer-events:none;
  color:#AAA;
  background:#F5F5F5;
  */
}
#fb-editor .sortable-options-wrap .option-label {
  width: 85%;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div class="title_1 delimited">
      {% if session_data['form_id'] %}
        <a class="btn btn-primary btn-sm"
           role="button"
           href="/form/{{session_data['form_id']}}?cancel-edit-mode=true">
           {%trans%}Return to form{%endtrans%}
        </a>
        {{ session_data['slug'] }}
      {% else %}
        {%trans%}Build your form here{%endtrans%}
      {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <div class="title_2">
        1. {%trans%}Introduction text{%endtrans%}
      </div>

      {%trans%}This is a markdown editor, an easy way to write HTML.{%endtrans%}
      <a href="https://www.markdownguide.org/basic-syntax"
         target="_blank">
         {%trans%}Learn more{%endtrans%}
      </a>
      <textarea id="introduction-editor">{{ session_data['introductionTextMD'] }}</textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-9">
      <div class="title_2 delimited">
        2. {%trans%}The form{%endtrans%}
      </div>
      <div id="fb-editor"></div>
      <p>&nbsp;</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      {% set action = "" %}
      {% if session_data['form_id'] %}
        {% set action = "/" + session_data['form_id']|string %}
      {% endif %}
      <form id="result" method="POST" action="/form{{action}}/edit" >
        <input type="hidden"
               name="csrf_token"
               value="{{ csrf_token() }}" />
        <input type="hidden"
               id="structure"
               name="structure" />
        <input id="introduction-text"
               type="hidden"
               name="introductionTextMD" />

        {% if not session_data['form_id'] %}
        <div class="title_2 delimited">
            3. {%trans%}Your form will have this address{%endtrans%}
        </div>

        <div class="input-group mb-3 input-group"
             style="margin-bottom: 0 !important;">
          <div class="input-group-prepend">
            <span class="input-group-text"
                  id="hostname-addon">
              {{ config['BASE_URL'] }}/
            </span>
          </div>
          <input id="slug" value="{{ session_data['slug'] }}"
                 type="text"
                 class="form-control"
                 name="slug"
                 aria-label="Slug"
                 aria-describedby="hostname-addon"
                 {% if session_data['form_id'] %}disabled{% else %}required{% endif %}
          />
        </div>
        <div id="slug_not_available"
             class="formError"
             style="display:none">
          {%trans%}This URL is not available. Try another!{%endtrans%}
        </div>
        {% endif %}

        <div class="form-actions">
          <input id="preview_form"
                 class="btn-success btn"
                 type="submit"
                 value="{%trans%}Preview{%endtrans%}"
          />
        {% if session_data['form_id'] %}
          <button id="save_form"
                  class="btn btn-success">
              {%trans%}Save{%endtrans%}
          </button>
          <a class="btn btn-primary"
             role="button"
             href="/form/{{session_data['form_id']}}?cancel-edit-mode=true">
            {%trans%}Cancel{%endtrans%}
          </a>
        {% else %}
          <a class="btn btn-primary"
             role="button"
             href="/forms">
             {%trans%}Cancel{%endtrans%}
          </a>
        {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<script>
var csrftoken = "{{ csrf_token() }}";
jQuery(function($) {
  {% if edit_mode_alert %}
  $('#edit_mode_modal').modal('show')
  {% endif %}
  var toolbar = [
      "bold",
      "italic",
      "heading",
      "|", // Separator
      "quote",
      "unordered-list",
      "ordered-list",
      "|", // Separator
  		{
  			name: "custom",
  			action: function customImage(editor){
          $('#insert_link_form')[0].reset();
  				$('#insert_link_modal').modal('show');
  			},
  			className: "fa fa-link",
  			title: "Link",
  		},
      {
  			name: "custom",
  			action: function customImage(editor){
          $('#insert_image_form')[0].reset();
  				$('#insert_image_modal').modal('show');
  			},
  			className: "fa fa-picture-o",
  			title: "Image",
  		},
  		"|", // Separator
      "preview",
      "side-by-side",
      "fullscreen",
      "|", // Separator
      "guide",
  	];
    var introduction_mde = new EasyMDE({
                                toolbar: toolbar,
                                autosave: {enabled: false},
                                autofocus: false,
                                spellChecker: false,
                                autoDownloadFontAwesome: false,
                                element: $("#introduction-editor")[0]
                             });

    const fbEditor = document.getElementById("fb-editor");
    var disabledAttrs = {{ config['FORMBUILDER_DISABLED_ATTRS'] | tojson }};
    var disabledSubtypes = {{ config['FORMBUILDER_DISABLED_SUBTYPES'] | tojson }};

    disabledAttrs.push("name");
    var disabledFields = {{ config['FORMBUILDER_DISABLED_FIELDS'] | tojson }}
    if ({{ current_user.can_upload() | tojson }} !== true) {
      disabledFields.push("file");
    }
    var formData = {{ session_data['formStructure'] | tojson }};
    var options = {
        formData: formData,
        showActionButtons: false,
        disableFields: disabledFields,
        disabledAttrs: disabledAttrs,
        disabledSubtypes: disabledSubtypes,
        editOnAdd: true,
        disableHTMLLabels: false,
        replaceFields: [
          {
            type: "checkbox-group",
            label: "{%trans%}Multiple choice{%endtrans%}",
            {# i18n: Placeholder for option name in Multiple choice fields#}
            values: [{ label: "{%trans%}Option{%endtrans%}", value: " " }],
          },
          {
            type: "radio-group",
            label: "{%trans%}Single choice{%endtrans%}",
            values: [
                      { label: "{%trans%}Option 1{%endtrans%}", value: " " },
                      { label: "{%trans%}Option 2{%endtrans%}", value: " " }
                    ],
          },
          {
            type: "select",
            label: "{%trans%}Dropdown options{%endtrans%}",
            values: [
                      { label: "{%trans%}Option 1{%endtrans%}", value: " " },
                      { label: "{%trans%}Option 2{%endtrans%}", value: " " }
                    ],
          },
        ],
        typeUserEvents: {
          file: {
            onadd: function (fld) {
              // hide unwanted fields
              $('.placeholder-wrap', fld).hide();
              $('.subtype-wrap', fld).hide();
            }
          },
          select: {
            onadd: function (fld) {
              $('.placeholder-wrap', fld).hide();
            }
          },
          radio: {
            onadd: function (fld) {
              $('.placeholder-wrap', fld).hide();
            }
          },
          date: {
            onadd: function (fld) {
              $('.placeholder-wrap', fld).hide();
              $('.value-wrap', fld).hide();
            }
          },
          number: {
            onadd: function (fld) {
              $('.placeholder-wrap', fld).hide();
            }
          },
          paragraph: {
            onadd: function (fld) {
              $('.subtype-wrap', fld).hide();
            }
          },
        },
        controlOrder: {{ config['FORMBUILDER_CONTROL_ORDER'] | tojson }},
        i18n: {
            locale: "{{ config['LANGUAGES'][current_user.language][1] }}",
            location: "/static/formBuilder-languages/",
        },
        layoutTemplates: {
            default: function(field, label, help, data) {
                if (help) {
                    label=$("<span class='label-description'></span>");
                    label.append(help.attributes.tooltip.textContent)
                }else{
                    label=$("<span style='display:none'></span>");
                }
                return $('<div/>').append(label, field, help);
            }
        }
    };
    const formBuilder = render_fbEditor(fbEditor, options)

    document.getElementById('result').addEventListener('submit', function(evt){
        evt.preventDefault();
        loadFieldsWithValues();
        if ( {{ session_data['form_id'] | tojson }} == null ){
            $.ajax({
                url : "/forms/check-slug-availability",
                type: "POST",
                data : {'slug': $('#slug').val()},
                dataType: "json",
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken)
                    }
                },
                success: function(data, textStatus, jqXHR)
                {
                    if (data.available == true) {
                        if (data.slug == $('#slug').val()) {
                            $('#result').submit();
                        }else{
                            $('#slug').val(data.slug);
                            $('#preview_form').val("{%trans%}OK, use this URL{%endtrans%}");
                        }
                    } else {
                        $('#slug').val(data.slug);
                        $('#slug_not_available').show()
                    }
                }
            });
        }else{
            $('#result').submit();
        }
    });
    {% if not session_data['form_id'] %}
    document.getElementById('slug').addEventListener('click', function(evt){
        $('#slug_not_available').hide();
        $('#preview_form').val("{%trans%}Preview{%endtrans%}");
    });
    {% else %}
    document.getElementById('save_form').addEventListener('click', function(evt){
        loadFieldsWithValues()
        document.getElementById("result").action = "/form/{{session_data['form_id']}}/save";
        document.getElementById("result").submit();
    });
    {% endif %}
    function loadFieldsWithValues(){
        $('#structure').val(formBuilder.actions.getData('json', true));
        $("#introduction-text").val(introduction_mde.value());
    }
    $(document).on("insert_image", function(event) {
      $('#insert_image_modal').modal('hide');
      var image_url = $('#image_url').val();
      if (image_url === '') {
        image_url = 'https://'
      }
      var alt_text = $('#alt_text').val();
      var image = '\n\n!['+alt_text+']('+image_url+')\n\n';
      pos = introduction_mde.codemirror.getCursor();
      introduction_mde.codemirror.replaceRange(image, pos);
      return false;
    });
    $(document).on("insert_link", function(event) {
      $('#insert_link_modal').modal('hide');
      var link_url = $('#link_url').val();
      if (link_url === '') {
        link_url = 'https://'
      }
      var link_text = $('#link_text').val();
      if (link_text === '') {
        link_text = link_url
      }
      var link = '\n['+link_text+']('+link_url+')\n';
      pos = introduction_mde.codemirror.getCursor();
      introduction_mde.codemirror.replaceRange(link, pos);
      return false;
    });
});
function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
function render_fbEditor(fbEditor, options) {
  var builder = $(fbEditor).formBuilder(options);
  sleep(1000).then(() => { // give formbuilder time to render
  {% if not session_data['form_id'] %}
    //$('input[class="option-value"]').value("")
  {% endif %}
  {% for field in multichoiceOptionsWithSavedData %}
    {% for value in multichoiceOptionsWithSavedData[field] %}
    option_value = $('input[name="{{field}}-option"][class="option-value"][value="{{value}}"]')
    container = option_value.closest('li')
    option_value.prop("disabled", true)
    option_label = container.find(".option-label")
    option_label.prop("disabled", true)
    container.prop("title", "{%trans%}Cannot modify because an answer with this value exists in the database{%endtrans%}")
    {% endfor %}
  {% endfor %}
  });
  return builder
}

// enable the user to uncheck radio buttons
/*
$("#fb-editor").on("click", "input[type=radio]", function (event) {
    if ($(this).closest(".formbuilder-radio") !== undefined) {
        var check = $(this).attr('checked')
        if (check) {
            $(this).removeAttr('checked').prop('checked',false)
        } else {
            $(this).attr('checked', true).prop('checked',true)
        }
    }
});
*/
</script>

{% endblock %}
