{% extends "base.html" %}
{% block content %}

<!-- list_templates_page -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="title_1 delimited">
        {%trans%}Form templates{%endtrans%}
      </div>
      <p>
      {%trans%}Choose the template that best suits your needs and edit it to fit.{%endtrans%}
      </p>
    </div>
  </div>

  <div class="row">
    {% for template in templates %}
    <div class="col-md-4">
      <hr />
      <h2>
        {{ template['name'] }}
      </h2>
      <p>
        {{ template['description'] }}
        <a style="white-space: nowrap;"
            href="/forms/template/{{ template['id'] }}">
          {%trans%}Show more{%endtrans%}
        </a>
      </p>
    </div>
    {% set decimal = ((loop.index/3)|string).split('.')[1] %}
    {% if decimal == "0" %}
    <div class="w-100"></div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="row" style="margin-top: 2em">
    <div class="col-md-12">
      <hr />
      <p>
      {%trans%}Create a new form without a template{%endtrans%}
      </p>
      <a class="btn btn-success"
         role="button"
         href="/forms/new">
        {%trans%}New form{%endtrans%}
        <i class="fa fa-star" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>

<style>
h2 {
  font-size:1.5em;
}
p {
  font-size:1.1em;
}
</style>
{% endblock %}
