{% extends "base.html" %}
{% block content %}

<!-- form_qr_page -->

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="returnToForm">
        <a class="btn btn-primary btn-sm"
           role="button"
           href="{{ url_for('form_bp.inspect_form', form_id=form.id) }}">
          {%trans%}Return to form{%endtrans%}
        </a>
        {{ form.slug }}
      </div>
      {{ form.url }}
      <br />
      <div >
        <svg id="qr-container" style="margin: 0 0 2em -1.5em" width="315" height="315">
          {{ form.get_qr() | safe }}
        </svg>
      </div>
      <p></p>
      <a class="btn btn-primary"
         href="{{ url_for('form_bp.form_qr', form_id=form.id, as_png=True) }}">
        {%trans%}Download image{%endtrans%}
      </a>
      <button class="btn btn-primary"
              onclick="js:downloadSVG()">
        {%trans%}Download SVG{%endtrans%}
      </button>
    </div>
  </div>
</div>

<script>
function downloadSVG() {
  const svg = document.getElementById('qr-container').innerHTML;
  const blob = new Blob([svg.toString()]);
  const element = document.createElement("a");
  element.download = "{{ form.slug }}-QR.svg";
  element.href = window.URL.createObjectURL(blob);
  element.click();
  element.remove();
}
</script>

{% endblock %}
