{% if g.embedded %}
{% extends "vanilla-base.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}

{% block content %}

<!-- thank_you_page -->

{% if g.embedded %}
  {{ form.get_after_submit_text_html() | safe }}
{% else %}
  <div class="container">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 afterSubmitText marked-up">
              {{ form.get_after_submit_text_html() | safe }}
          </div>
      </div>
  </div>
{% endif %}


{% endblock %}
