{% extends "base.html" %}
{% block content %}

<!-- fediverse_config_page -->
<!-- https://tools.splat.soy/pleroma-access-token/ -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">

      <div class="title_1 delimited">
        {%trans%}Fediverse connect{%endtrans%}
      </div>
      <p>
        {%trans%}Publish your forms on the descentralized social media network{%endtrans%}
      </p>

      <form id="save_token_form"
            action="/user/{{current_user.username}}/fediverse"
            method="POST">
        {{ wtform.csrf_token }}
        {{ wtform.title.label }}
        <span class='required'>●</span>
        {# i18n: Used to identify which of their account did the user connected to, in case they have more than one on the Fediverse. #}
        {{ wtform.title(class_="form-control",
                        id="connection_title",
                        placeholder=_("Username or description. eg. My account at node.fediverse"),
                        onInput="$('.title_input_error').remove()") }}
        {% for error in wtform.title.errors %}
          <span class="formError title_input_error">{{ error }}</span>
        {% endfor %}
        <p>&nbsp;</p>
        {{ wtform.node_url.label }}
        <span class='required'>●</span>
        {{ wtform.node_url(class_="form-control",
                           placeholder="https://node.fediverse") }}
        <p>&nbsp;</p>
        {{ wtform.access_token.label }}
        <span class='required'>●</span>
        <button class="btn btn-success btn-xs"
                type="button"
                id="generate_btn"
                style="margin: 0 0 0.2em 0.4em"
                name="btn">
            {%trans%}Generate{%endtrans%}
        </button>
        {{ wtform.access_token() }}
        <div id="token_display_container">
          <div class="input-group flex-nowrap">
            <input class="form-control"
                   id="access_token_display"
                   required type="text"
                   aria-label="{{trans}}Access token{{endtrans}}"
                   autocomplete="off"
                   value="">
            <div class="input-group-append">
              <button id="toggle-token-display-button"
                      class="btn"
                      type="button"
                      title="{{trans}}Show / Hide{{endtrans}}"
                      style="display: none; background-color: #ccc">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
        {% for error in wtform.access_token.errors %}
          <span class="formError">{{ error }}</span>
        {% endfor %}

        <div class="form-actions">
          <button class="btn btn-success"
                  type="button"
                  id="save_config"
                  onclick="js:$('form#save_token_form').submit()">
            {%trans%}Save{%endtrans%}
          </button>
          <button class="btn btn-danger"
                  type="button"
                  id="delete_config"
                  onclick="js:$('form#delete_config').submit()">
             {%trans%}Delete{%endtrans%}
          </button>
        </div>
      </form>

    	<div style="display:none;">
        <input type="text"
               id="client_name"
               value="LiberaForms" />
    		<input type="text"
               id="website"
               value="{{ config['BASE_URL'] }}" />
    		<input type="text"
               id="pleroma_url"
               value="" />
        <span id="client_id"></span>
        <span id="client_secret"></span>
    	</div>
    </div>
  </div>
</div>

<form id="delete_config"
      action="/user/{{current_user.username}}/fediverse/delete-auth"
      method="post"
      style="display:none">
  {{ wtform.csrf_token }}
</form>

<script>
  var hidden_token = "● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ● ●"
  var parsley_options = {
    errorsContainer: function (field) {
      if ($(field.element).prop('id') == 'access_token_display') {
        return $("#token_display_container")
      }
    }
  }
  $(function () {
    $('#save_token_form').parsley(parsley_options)
  })
  function elem(el) {
  	return document.getElementById(el);
  }

  $(document).ready(function() {
    elem('pleroma_url').value = elem("node_url").value
    var access_token_value = elem("access_token").value
    //elem('access_token_display').value = access_token_value
    //console.log(access_token_value)
    if (access_token_value) {
      $("#access_token_display").val(hidden_token)
      $("#access_token_display").prop("disabled", true)
      $("#toggle-token-display-button").show()
    }
    elem("toggle-token-display-button").addEventListener("click", function(event) {
      var button_icon = $("#toggle-token-display-button").find("i")
      if (button_icon.hasClass("fa-eye")) {
        $("#access_token_display").val(elem('access_token').value)
        $("#access_token_display").prop("disabled", false)
        button_icon.removeClass("fa-eye").addClass("fa-eye-slash")
      } else {
        hide_token()
      }
    });
    if ( access_token_value === "" ) {
      //elem("save_config").disabled = true;
      elem("delete_config").disabled = true;
    }
  });

  function hide_token() {
    $("#toggle-token-display-button").show()
    var button_icon = $("#toggle-token-display-button").find("i")
    $("#access_token_display").val(hidden_token)
    $("#access_token_display").prop("disabled", true)
    button_icon.removeClass("fa-eye-slash").addClass("fa-eye")
  }

  elem("node_url").addEventListener("input", function(event) {
    elem('pleroma_url').value = elem("node_url").value
    elem("node_url").classList.remove("is-invalid")
  });

  function makePostData(args) {
  	var data = [];
  	Object.keys(args).forEach(function(key) {
  		data.push(encodeURIComponent(key) + '=' + encodeURIComponent(args[key]));
  	});
  	rtn = data.join('&').replace(/%20/g, '+');
  	return rtn
  }

  function post(url, args, done) {
  	var xhr = new XMLHttpRequest();
  	xhr.onreadystatechange = function() {
  		if (xhr.readyState === 4 && xhr.status === 200) {
  			var data = xhr.response;
  			done(data);
  		}
  	}
  	xhr.open("POST", url, true);
  	xhr.setRequestHeader("Content-Type" , "application/x-www-form-urlencoded");
  	xhr.responseType = "json";
  	var postData = makePostData(args);
  	xhr.send(postData);
  }

  function getQueryVariable(variable)
  {
  	var query = window.location.search.substring(1);
  	var vars = query.split("&");
  	for (var i=0;i<vars.length;i++) {
  		var pair = vars[i].split("=");
  		if(pair[0] == variable){return pair[1];}
  	}
  	return(false);
  }

  /* main */
  var redirect_uri = window.location.protocol+"//"+window.location.host+window.location.pathname;
  var connection_title = localStorage.getItem("CONNECTION_TITLE");
  var pleroma_url = localStorage.getItem("PLEROMA_URL");
  var client_id = localStorage.getItem("PLEROMA_CLIENT_ID");
  var client_secret = localStorage.getItem("PLEROMA_CLIENT_SECRET");

  if (window.location.href.indexOf("?code=") !== -1 &&
      pleroma_url != "" &&
      client_id != "" &&
      client_secret != "") {
  	var code = getQueryVariable("code");
  	var oauth_url = pleroma_url+"/oauth/token";
  	elem("connection_title").value = connection_title;
  	elem("pleroma_url").value = pleroma_url;
  	elem("node_url").value = pleroma_url;
  	//elem("client_id").textContent = client_id;
  	//elem("client_secret").textContent = client_secret;
  	var args2 = {
      client_id: client_id,
  		client_secret: client_secret,
  		redirect_uri: redirect_uri,
  		grant_type: "authorization_code",
  		code: code};
  		post(oauth_url, args2, function(data) {
  			elem('access_token').value = data.access_token;
        hide_token()
        //elem('pleroma_url').value = pleroma_url;
        //elem('node_url').value = pleroma_url;
  		});
  } else {
  	localStorage.setItem("CONNECTION_TITLE", "");
  	localStorage.setItem("PLEROMA_URL", "");
  	localStorage.setItem("PLEROMA_CLIENT_ID", "");
  	localStorage.setItem("PLEROMA_CLIENT_SECRET", "");
  }

  elem("generate_btn").addEventListener("click", function(event) {
    elem('pleroma_url').value = elem("node_url").value
    $('#node_url').parsley().validate()
  	event.preventDefault();
  	var url = elem("pleroma_url").value+"/api/v1/apps";
  	//var s = elem("scopes");
  	//var scopes = s.options[s.selectedIndex].value;
    var scopes = "write"
  	var args = {
      client_name: elem("client_name").value,
    	redirect_uris: redirect_uri,
    	website: elem("website").value,
    	scopes: scopes
    };
  	post(url, args, function(data) {
  		localStorage.setItem("CONNECTION_TITLE", elem("connection_title").value);
  		localStorage.setItem("PLEROMA_URL", elem("pleroma_url").value);
  		localStorage.setItem("PLEROMA_CLIENT_ID", data.client_id);
  		localStorage.setItem("PLEROMA_CLIENT_SECRET", data.client_secret);
  		var redirectLink = elem("pleroma_url").value+"/oauth/authorize?client_id="+data.client_id+"&redirect_uri="+redirect_uri+"&response_type=code&scope=" + scopes;
  		window.location.href = redirectLink;
  	});
  });

</script>

{% endblock %}
