{% extends "base.html" %}
{% block content %}

<!-- user_login_page -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ g.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">

      <div class="title_1 delimited">
        {%trans%}Login{%endtrans%}
      </div>

      <form action="/user/login{%if token%}/{{token}}{%endif%}{%if next%}?next={{next}}{%endif%}"
            method="POST" style="margin-top:1.5em">
        {{ wtform.csrf_token }}
        <p>
          {{ wtform.username.label }}
          <br />
          {% if not token %}
          {{ wtform.username(class_="form-control") }}
          {% else %}
          {{ wtform.username(class_="form-control", type="hidden") }}
          <input type="text" class="form-control" value="{{wtform.username.data}}" disabled />
          {% endif %}
        </p>
        <p>
          {{ wtform.password.label }}
          <br />
          {{ wtform.password(class_="form-control") }}
        </p>
        <div class="form-actions">
          <input class="btn btn-success mr-3"
                 type="submit"
                 value="{%trans%}Login{%endtrans%}"/>
          {% if not config['ENABLE_LDAP'] %}
          <a href="/site/recover-password">
            {%trans%}Forgot your password?{%endtrans%}
          </a>
          {% elif config['LDAP_RECOVER_PASSWD_URL'] %}
          <a href="{{config['LDAP_RECOVER_PASSWD_URL']}}">
            {%trans%}Forgot your password?{%endtrans%}
          </a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<script>
$(function () {
  $('form').parsley()
})
</script>

{% endblock %}
