{% extends "base.html" %}
{% block content %}

<!-- new_user_form_page -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ g.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css" />

{% if not created %}
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="title_1 delimited">
        {%trans%}New user{%endtrans%}
      </div>
      <form method="POST" name="newUser">
        {{ wtform.csrf_token }}
        <p>
          {{ wtform.username.label }} <span class='required-dot'>●</span><br />
          {{ wtform.username(class_="form-control",
                             placeholder=_('Letters and numbers. No accents.'))
          }}
          {% for error in wtform.username.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ wtform.email.label }} <span class='required-dot'>●</span><br />
          <span class="hint"></span>
          {{ wtform.email(class_="form-control") }}
          {% for error in wtform.email.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ wtform.password.label }} <span class='required-dot'>●</span><br />
          <span class="hint">
            {%trans%}We suggest you use a sentence you will remember.{%endtrans%}
          </span>
          {{ wtform.password(class_="form-control",
                             placeholder=_('eg: Peter cooks delicious food'),
                             data_parsley_error_message=_("A minimum of 8 charcters"))
          }}
          {% for error in wtform.password.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ wtform.password2.label }} <span class='required-dot'>●</span><br />
          {{ wtform.password2(class_="form-control",
                              data_parsley_equalto="#password")
          }}
          {% for error in wtform.password2.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <!-- Terms and conditions -->
        {% if g.site.terms_and_conditions.enabled %}
        <div style="margin-top:2.5em">
          <div class="title_3 delimited">
            {%trans%}Terms and conditions{%endtrans%}
          </div>
          <div class="form-group consentText">
            <div>
              {{ g.site.terms_and_conditions.html|safe }}
            </div>
            <div class="form-check">
              <input id="termsAndConditions"
                     name="termsAndConditions"
                     type="checkbox"
                     class="form-check-input consent"
                     data-parsley-required-message="{%trans%}Please accept our terms and conditions{%endtrans%}"
                     value="1"
                     required
              />
              <label for="termsAndConditions"
                     class="form-check-label consent required">
              {% if g.site.terms_and_conditions.checkbox_text %}
                {{ g.site.terms_and_conditions.checkbox_text }}
              {% else %}
                {%trans%}I agree{%endtrans%}
              {% endif %}
              <span class="required-dot">●</span>
              </label>
            </div>
            {% for error in wtform.termsAndConditions.errors %}
              <span class="formError">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <!-- Data protection policy -->
        {% set consent = g.site.get_consent_for_rendering() %}
        {% if consent.enabled %}
        <div style="margin-top:2.5em">
          <div class="form-group consentText">
            <div class="dataConsentText">
              {{ consent.html|safe }}
            </div>
            <div class="form-check">
              <input id="DPLConsent"
                     name="DPLConsent"
                     type="checkbox"
                     class="form-check-input consent"
                     value="1"
                     data-parsley-required-message="{%trans%}Please accept our data protection policy{%endtrans%}"
                     required
              />
              <label for="DPLConsent"
                     class="form-check-label consent required">
                {{ consent.checkbox_text }}
              <span class="required-dot">●</span>
              </label>
            </div>
            {% for error in wtform.DPLConsent.errors %}
              <span class="formError">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        {% endif %}

        <div class="form-actions">
          {% set disabled = "disabled" if preview_only else "" %}
          <input class="btn-success btn"
                 type="submit"
                 value="{%trans%}Submit{%endtrans%}"
                 {{disabled}} />
          {% if preview_only %}
          <a class="btn btn-primary"
             role="button"
             href="/admin#site_settings">
            {%trans%}Go back{%endtrans%}
          </a>
          {% else %}
          <a class="btn btn-primary"
             role="button"
             href="/">
            {%trans%}Cancel{%endtrans%}
          </a>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>

<script>
$(function () {
  var parsleyForm = $('form[name=newUser]').parsley()
});
</script>

{% else %}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 style="margin-top:1em">
        {%trans%}We sent you an email!{%endtrans%}
      </h1>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
