{% extends "base.html" %}
{% block content %}

<!-- recover_password_page -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ g.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">
      <div class="title_1 delimited">
        {%trans%}Recover password{%endtrans%}
      </div>

      <form method="POST">
        {{ wtform.csrf_token }}
        <p>
          {{ wtform.email.label }}
          <br />
          {{ wtform.email(class_="form-control") }}
          {% for error in wtform.email.errors %}
              <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <div class="form-actions">
          <input class="btn btn-success"
                 type="submit"
                 value="{%trans%}Recover{%endtrans%}">
          <a class="btn btn-primary"
             role="button"
             href="/">
            {%trans%}Cancel{%endtrans%}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
$(function () {
  $('form').parsley().on('form:validate', function() {
    $('span[class=formError]').remove()
  })
})
</script>

{% endblock %}
