{% extends "base.html" %}
{% block content %}

<!-- reset_password_page -->

<script src="/static/parsley/parsley.min.js"></script>
<script src="/static/parsley/i18n/{{ current_user.language }}.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/parsley.css">

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-5">

      <div class="title_1 delimited">
        {%trans%}Change password{%endtrans%}
      </div>

      <form method="POST">
        {{ wtform.csrf_token }}
        <p>
          {{ wtform.password.label }}
          <br />
          <span class="hint">
            {%trans%}We suggest you use a sentence you will remember.{%endtrans%}
          </span>
          {{ wtform.password(class_="form-control", placeholder=_('eg: Peter cooks delicious food')) }}
          {% for error in wtform.password.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <p>
          {{ wtform.password2.label }}
          <br />
          {{ wtform.password2(class_="form-control", placeholder=_('Another eg: The cat living with me has fleas')) }}
          {% for error in wtform.password2.errors %}
            <span class="formError">{{ error }}</span>
          {% endfor %}
        </p>
        <div class="form-actions">
        <input class="btn btn-success"
               type="submit"
               value="{%trans%}Reset password{%endtrans%}">
        </div>
      </form>
    </div>
  </div>
</div>

<script>
$(function () {
  $('form').parsley().on('form:validate', function() {
    $('span[class=formError]').remove()
  })
})
</script>

{% endblock %}
